/* ICONS<<-------------------------------------------------- */
@font-face {
    font-family: 'Glyphter';
    src: url('../fonts/Glyphter.eot');
    src: url('../fonts/Glyphter.eot?#iefix')    format('embedded-opentype'),
         url('../fonts/Glyphter.woff')          format('woff'),
         url('../fonts/Glyphter.ttf')           format('truetype'),
         url('../fonts/Glyphter.svg#Glyphter')  format('svg');
    font-weight:    normal;
    font-style:     normal;
    }
    [class*='glyph-']:before{
    display:                    inline-block;
    font-family:                'Glyphter';
    font-style:                 normal;
    font-weight:                normal;
    line-height:                1;
    -webkit-font-smoothing:     antialiased;
    -moz-osx-font-smoothing:    grayscale
    }
    .glyph-deviantart:before{content:'\0042';}
    .glyph-facebook:before{content:'\0043';}
    .glyph-pinterest:before{content:'\0044';}
    .glyph-twitter:before{content:'\0045';}
    .glyph-vtick:before{content:'\0046';}
/* ICONS>>-------------------------------------------------- */

/*FONTS<<___________________________________________________________________________________*/
/* font types */
.fontNorm{font-weight: 400;}
.fontMed{font-weight: 500;}
/* font sizes */
.fSize20{ font-size: 1.33rem}

/* font positioning */
.TXTcenter{text-align: center;}
.TXTleft{text-align: left;}
.TXTjustif{text-align: justify;}
.TXTlineL{line-height: 1.88rem;}
/*FONTS>>___________________________________________________________________________________*/

/*COLORVALUES<<___________________________________________________________________________________*/
:root{
    --Col_Primary           : #FF8400;
    --Col_Secondary         : #103268;
    --Col_SecondaryLight    : #7384a0;
    --Col_SecondaryDark     : #112c58;
}
/* classes background */
.BCKsec     {   background-color: var(--Col_Secondary); }
.BCKsecDark {   background-color: var(--Col_SecondaryDark); }

/* classes border sep */
.sepDown{border-bottom: 1px solid rgba(0, 0, 0,0.2);}
/*COLORVALUES>>___________________________________________________________________________________*/

/*FLEX<<____________________________________________________________________________________*/
.flexSideSide{display: flex; justify-content: space-between; align-items: center;}
.flexCol{display: flex;flex-direction: column; justify-content: space-between;align-items: center;}
.flex{display: flex; align-items: center;}
.flexWrap{flex-wrap: wrap;}
/*FLEX>>____________________________________________________________________________________*/

/* Generic  */
body{
    margin:             0px;
    display:            flex;
    flex-direction:     column;
    justify-content:    center;
    font-family:        'Rubik', sans-serif;
    font-size:          15px;
    color:              white;
    font-weight:        normal;
    min-height:         100vh;
    background-color:   black;
}
a{text-decoration: none; color: white;}
ul{padding-left: 0px;}
li{list-style: none;}

/*Footer bar 1>>____________________________________________________________________________________*/
#logo{
    background-image: url("/img/Logo.svg");
    width:78px; height:26px;
    background-repeat: no-repeat;
    background-size: contain;
}
.footer{align-items: flex-start; padding:100px 0px}
.footSide{
    box-sizing: border-box;
    flex: 0 27%;
}
.footCenter{
    box-sizing: border-box;
    flex: 0 15%;
}
.footCenter ul{
    list-style: none;
    padding:    0px;
}
.footerLinks a{
    line-height: 2.5rem;
}
.footerLinks a:hover{color: var(--Col_Primary);}

.socialBox{
    width: 65%;
    justify-content: space-between;
}
.btn_social{
    width:              45px;
    height:             45px;
    align-items:        center;
    justify-content:    center;
    border-radius:      5px;
    color:              var(--Col_SecondaryLight);
}
.btn_social p{margin: 0px;}
.btn_social:hover{
    color: white;
    background-color: var(--Col_Primary);
    box-shadow: 0px 14px 21px rgba(255, 132, 0, 0.15);
}
form label{display: none;}
#mail{
    height:             56px;
    width:              100%;
    text-align:         center;
    border-radius:      28px;
    margin-top:         20px;
    border:             none;
}
#submitbutton{
    margin-top:         15px;
    background-color:   var(--Col_SecondaryDark);
    color:              var(--Col_SecondaryLight);
    font-family:        'Rubik', sans-serif;
    font-weight:        500;
    font-size:          1.06rem;
    padding:            17px 40px;
    border-radius:      28px;
    border:             none;
}
#submitbutton:hover{
    background-color:         var(--Col_Primary);
    color:                    white;
    box-shadow: 0px 14px 21px rgba(255, 132, 0, 0.22);
}
/*Footer bar 1<<____________________________________________________________________________________*/

/*Footer bar 3<<____________________________________________________________________________________*/
#lastfooter{padding:30px 10px 70px 10px;}
#lastfooter>p{flex: 0 30%;}
#lastfooter>div{
    flex:       0 40%;
}
#lastfooter a{color: var(--Col_Gray);}
#lastfooter a:hover{color: var(--Col_Primary);}
/*Footer bar 3>>____________________________________________________________________________________*/


/* RESPONSIVE_________________________________________________________________________*/

/* XL ________________________________________________________________________________*/
.container{margin: 0 auto; max-width: 1230px;   padding: 0px 10px; }


/* L _________________________________________________________________________________*/
@media (max-width: 1199.98px) {

.container{  margin: 0px 5vw;}

.footer>div{flex:0 100%; width: 100vh; padding-bottom: 7vh;border-bottom: 2px solid white;}
.footer>section:nth-child(2),.footer>section:nth-child(3){flex:0 23%; order:1; text-align: right;}
.footer>section:nth-child(4){flex:0 40%;}

.socialBox{
    width: 30%;
    margin: 0px;
    justify-content: space-between;
}
.btn_social{
    width:              55px;
    height:             55px;
    align-items:        center;
    justify-content:    center;
    border-radius:      5px;
    color:              var(--Col_SecondaryLight);
    font-size: 1.3rem;
}
#lastfooter>div{flex:       0 60%;}
#logo{width: 94px; height: 32px;}
}

/* M _________________________________________________________________________________*/
@media (max-width: 991.98px) {

.container{  margin: 0px 3vw;   }
}

/* S _________________________________________________________________________________*/
@media (max-width: 767.98px) {

.container{  margin: 0px 2vw;   }

}

/* XS _________________________________________________________________________________*/
@media (max-width: 575.98px) {

.container{  margin: 0px 1vw;   }
}



